<p id="notice"><%= notice %></p>

<p>
  <b>777 table name:</b>
  <%= @liber777_table.777_table_name %>
</p>

<p>
  <b>777 table number:</b>
  <%= @liber777_table.777_table_number %>
</p>


<%= link_to 'Edit', edit_liber777_table_path(@liber777_table) %> |
<%= link_to 'Back', liber777_tables_path %>
