<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @qbl_tree_of_life.owner %>
</p>

<p>
  <b>Magicalplane:</b>
  <%= @qbl_tree_of_life.magicalplane %>
</p>

<p>
  <b>Qblpath:</b>
  <%= @qbl_tree_of_life.qblpath %>
</p>

<p>
  <b>777:</b>
  <%= @qbl_tree_of_life.777 %>
</p>


<%= link_to 'Edit', edit_qbl_tree_of_life_path(@qbl_tree_of_life) %> |
<%= link_to 'Back', qbl_tree_of_lives_path %>
