<h1>Listing qbl_trees</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Plane</th>
    <th>Qblpath</th>
    <th>777</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qbl_trees.each do |qbl_tree| %>
  <tr>
    <td><%= qbl_tree.owner %></td>
    <td><%= qbl_tree.plane %></td>
    <td><%= qbl_tree.qblpath %></td>
    <td><%= qbl_tree.777 %></td>
    <td><%= link_to 'Show', qbl_tree %></td>
    <td><%= link_to 'Edit', edit_qbl_tree_path(qbl_tree) %></td>
    <td><%= link_to 'Destroy', qbl_tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qbl tree', new_qbl_tree_path %>
