<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @qbl_tree.owner %>
</p>

<p>
  <b>Plane:</b>
  <%= @qbl_tree.plane %>
</p>

<p>
  <b>Qblpath:</b>
  <%= @qbl_tree.qblpath %>
</p>

<p>
  <b>777:</b>
  <%= @qbl_tree.777 %>
</p>


<%= link_to 'Edit', edit_qbl_tree_path(@qbl_tree) %> |
<%= link_to 'Back', qbl_trees_path %>
